<hr>
</body>
<style>
        body, h1, h2, h3, h4, h5, h6 {font-family: "Raleway", sans-serif}
</style>
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contributors</h5>
                <ul class="list-unstyled quick-links"> 
                    <li><a href="mailto:bkaplan@college.harvard.edu?subject=Connecting Harvard"><i class="fa fa-angle-double-right"></i>Ben Kaplan</a></li>
                    <li><a href="mailto:matthewmiller01@college.harvard.edu?subject=Connecting Harvard"><i class="fa fa-angle-double-right"></i>Matthew Miller</a></li>
                    <li><a href="mailto:eliza_scharfstein@college.harvard.edu?subject=Connecting Harvard"><i class="fa fa-angle-double-right"></i>Eliza Scharfstein</a></li>
                    <li><a href="mailto:kmassimilian@college.harvard.edu?subject=Connecting Harvard"><i class="fa fa-angle-double-right"></i>Kyle Massimilian</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About the Course</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://cs.harvard.edu/100/"><i class="fa fa-angle-double-right"></i>CS100: Introduction to applications of computer science (including web technologies, visualization, and database design) to domains in the arts and humanities.</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Advisors</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="mailto:100@cs.harvard.edu?subject=Connecting Harvard"><i class="fa fa-angle-double-right"></i>David Malan</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy All right Reserved.</p>
            </div>
            </hr>
        </div>	
    </div>
</section>

</html>
