<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Connecting Harvard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <h1> {{house.name}} </h1>
    <h2> {{house.description}}
    <ul>
        <li v-for="event in events"> 
            {{event.eventName}}
        </li>
    </ul>

    <script>
    
    </script>


    
</body>
</html>

