<% include header %>

  <h1>
      Welcome to the <%-room.name %>!
  </h1>
  <br>
  <hr>
  <p>Before / After</p>
  <div class="rf">
  <div class="img-comp-container">
      <div class="img-comp-img">
        <img src="<%-room.afterImg%>" width="400" height="300">
      </div>
      <div class="img-comp-img img-comp-overlay">
        <img src="<%-room.beforeImg%>" width="400" height="300">
      </div>
    </div>
  <br>
  <script>
    initComparisons();
  </script>
  <hr>
  <div>
      <%-room.description %>
  </div>
</div>

<% include footer %>
