<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Featured Room Name?? </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/stylesRF.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>House Name, Room Number</h1>
    <div>
        <img class="imgbg" src="https://via.placeholder.com/728x90.png?text=PLACE_HOLDER_IMG">
    </div>
    <br>
    <div>
        <p class="rInfo">
            Were you in {{room number}}? Share your experience and upload photos here!
            <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;"> </p>
        </p>
    </div>
    <div>
        Comment: <input type="text-area" class="form-control" name="comments">
        <br>
        <input type="submit" value="Add Comment" class="btn btn-primary">
        <br>
        <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;">{{Existing Comments}}</p>
    </div>
</body>
</html>